<h1>Public Wikis</h1>
<div class="row">

  <div class="col-md-8">
    <% @wikis.each do |wiki| %>
    <div class="media">
      <div class="media-body">
        <h3 class="media-heading">
          <% if wiki.private? %>
            <%= link_to wiki.title, wiki, class: "private" %> <small>Private Wiki</small>
          <% else %>
            <%= link_to wiki.title, wiki %>
          <% end %>
        </h3>
        <small>Created by <%= wiki.user.username %> <%= time_ago_in_words(wiki.created_at) %> ago</small>
      </div>
    </div>
    <% end %>
  </div>

  <div class="col-md-4">
      <p>Create Public Wiki</p>
      <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-primary' %>
  </div>

</div>
